#tippy {
	position: absolute;
	z-index: 1030;
	display: block;
	font-size: 11px;
	line-height: 1.4;
	visibility: visible;
	padding: 5px 0;
	margin-top: 3px;
}

#tippy.hide {
	opacity: 0;
	filter: alpha(opacity=0);
}

#tippy .inner {
	max-width: 200px;
	padding: 8px;
	color: #ffffff;
	text-align: left;
	text-decoration: none;
	background-color: #000000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#tippy .arrow {
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	left: 10px;
	margin-left: -5px;
	border-color: transparent;
	border-style: solid;
	border-bottom-color: #000000;
	border-width: 0 5px 5px;
}

.tippy {
	cursor: help;
	border-bottom: 1px dashed rgba(0,0,200, 0.2);
}